<div class="match_page">

<section class="content-header">
  <h1>
    <%= params[:controller].titleize %>
    <small><%= params[:action].titleize %></small>
  </h1>
</section>

<% content_for :head do %>
  <meta property="fb:app_id" content="767603536709269" />
  <meta property="og:title" content="<%= @match.home_team.team.name + " x " + @match.away_team.team.name %>"/>
  <meta property="og:image" content="<%= URI.join(request.url, image_url('mascote.png')) %>"/>
  <meta property="og:url" content="<%=request.original_url%>"/>
<% end %>

<% content_for :title do %>
  <title>Academia N10 - <%= @match.home_team.team.name + " x " + @match.away_team.team.name %></title>
<% end %>

<!-- Main content -->
<section class="content">
    <!-- Header -->
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title"> <i class="fa fa-futbol-o"></i> Matchday <%= @match.matchday %> | <%= @match.match_date.strftime("%H:%M %d/%m/%Y") %>
      </h3>
    </div>

    <div class="box-body box-body-game">
      <% if @match.has_happened? %>
        <h4>
          <%= @match.home_team.team.name %><%= @match.home_goals %>
        </h4>
        <h4 class="versus">
          x
        </h4>
        <h4>
          <%= @match.away_team.team.name %><%= @match.away_goals %>
        </h4>
      <% else %>
        <h4>
          <%= @match.home_team.team.name %> -
        </h4>
        <h4 class="versus">
          x
        </h4>
        <h4>
          - <%= @match.away_team.team.name %>
        </h4>
      <% end %>
    </div>
  </div>

  <hr>

  <div class="row">
    <!-- Home Team -->
    <div class="col-md-6">
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-shield"></i>
          <h3 class="box-title"><%= @match.home_team.team.name %></h3>
        </div><!-- /.box-header -->

        <div class="box-body">



          <strong> Home Team Players </strong>
          <br>
          <p>
            <div class="table_div">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Goals</th>
                  <th>Penalties</th>
                  <th>Assists</th>
                  <th>Minutes Played</th>
                  <th>Yellows</th>
                  <th>Red</th>
                  <th>Own Goals</th>
                </tr>
              </thead>
              <tbody>
                <% @match.home_team.players.each do |player| %>
                  <tr>
                    <% player_stat = player.statistics.where(match_id: @match.id).first %>
                    <td><%= player.name %></td>
                    <td><%= player_stat ? player_stat.goals : "n/i" %></td>
                    <td><%= player_stat ? player_stat.penalties : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.assists : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.played_minutes : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.first_yellow &&  player_stat.second_yellow ? "2" : player_stat.first_yellow || player_stat.second_yellow ? "1" : "0"  : "n/i" %> </td>
                    <td><%= player_stat ? player_stat.red ? "1" : "0"  : "n/i" %></td>
                    <td><%= player_stat ? player_stat.own_goals  : "n/i" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
          </p>

          <strong>Home observations:</strong>
          <p class="text-muted">
            <%= @match.home_observations %>
          </p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->

    <hr>

    <!-- Away Team -->
    <div class="col-md-6">
      <div class="box box-default">
        <div class="box-header with-border">
          <i class="fa fa-shield"></i>
          <h3 class="box-title"><%= @match.away_team.team.name %></h3>
        </div><!-- /.box-header -->

        <div class="box-body">


          <strong> Away Team Players </strong>
          <br>
          <p>
            <div class="table_div">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Player</th>
                  <th>Goals</th>
                  <th>Penalties</th>
                  <th>Assists</th>
                  <th>Minutes Played</th>
                  <th>Yellows</th>
                  <th>Red</th>
                  <th>Own Goals</th>
                </tr>
              </thead>
              <tbody>
                <% @match.away_team.players.each do |player| %>
                  <tr>
                    <% player_stat = player.statistics.where(match_id: @match.id).first %>
                    <td><%= player.name %></td>
                    <td><%= player_stat ? player_stat.goals : "n/i" %></td>
                    <td><%= player_stat ? player_stat.penalties : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.assists : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.played_minutes : "n/i"  %></td>
                    <td><%= player_stat ? player_stat.first_yellow &&  player_stat.second_yellow ? "2" : player_stat.first_yellow || player_stat.second_yellow ? "1" : "0"  : "n/i" %> </td>
                    <td><%= player_stat ? player_stat.red ? "1" : "0"  : "n/i" %></td>
                    <td><%= player_stat ? player_stat.own_goals  : "n/i" %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            </div>
          </p>

          <strong>Away observations:</strong>
          <p class="text-muted">
            <%= @match.away_observations %>
          </p>
        </div><!-- /.box-body -->
      </div><!-- /.box -->
    </div><!-- /.col -->
  </div>

  <!-- Observations and Aditional Information -->
  <div class="box box-default">
    <div class="box-body">
      <strong>Delegate 1:</strong>
      <p class="text-muted">
        <%= @match.delegate1 %>
      </p>


      <strong>Delegate 2:</strong>
      <p class="text-muted">
        <%= @match.delegate2 %>
      </p>

      <strong>Referee 1:</strong>
      <p class="text-muted">
        <%= @match.referee1 %>
      </p>

      <strong>Referee 2:</strong>
      <p class="text-muted">
        <%= @match.referee2 %>
      </p>

      <strong>Referee 3:</strong>
      <p class="text-muted">
        <%= @match.referee3 %>
      </p>


      <strong>Ref observations:</strong>
      <p class="text-muted">
        <%= @match.ref_observations %>
      </p>

    </div>
  </div>

  <% if guardian_auth_signed_in? %>
    <div class="box box-default">
      <div class="box-body">
        <%= form_for @match, url: guardian_auth_match_path(@match) do |f| %>
          <%= f.nested_fields_for :photos, Photo.new do |fff| %>
            <%= fff.remove_nested_fields_link %>
            <%= fff.hidden_field :team_season_id, value: @team_season.id %>
            <%= fff.hidden_field :approved, value: false %>
            <%= fff.hidden_field :private, value: true %>
            <%= fff.hidden_field :match_id, value: @match.id %>

            <div class="form-group">
              <%= fff.label :video %><br>
              <%= fff.check_box :video, {class: "is-video"}  %>
            </div>

            <div class="photo-image">
              <div class="form-group">
                <%= fff.label :photo %><br>
                <%= fff.file_field :photo, class: "form-control" %>
              </div>
            </div>

            <div class="video-url">
              <div class="form-group">
                <%= fff.label :video_url %><br>
                <%= fff.text_field :video_url, class: "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <%= fff.label :level %>
              <%= fff.select :level,  options_for_select(get_levels_options) %><br>
            </div>

            <div class="form-group">
              <%= fff.label :title %>
              <%= fff.text_field :title, required: true %><br>
            </div>
            <div class="form-group">
              <%= fff.label :description %>
              <%= fff.text_area :description %><br>
            </div>

          <% end %>

        <%= f.add_nested_fields_link :photos %>
        <%= f.submit %>
        <% end %>
      </div>
    </div>
  <% end %>
  <p><%= social_share_button_tag(@match.home_team.team.name + " x " + @match.away_team.team.name, :popup => "true") %></p>
</section>
</div>
