<%= form_for(@sponsor) do |f| %>
  <%= render partial: 'admin_partials/errors/errors_form', locals: { current_object: @sponsor} %>

  <div class="field">
    <%= f.label :homepage %><br>
    <%= f.check_box :homepage %>
  </div>
  <div class="field">
    <%= f.label :competition_id %><br>
    <%= f.number_field :competition_id %>
  </div>
  <div class="field">
    <%= f.label :team_season_id %><br>
    <%= f.number_field :team_season_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_area :url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
