<p id="notice"><%= notice %></p>

<p>
  <strong>Homepage:</strong>
  <%= @sponsor.homepage %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @sponsor.competition_id %>
</p>

<p>
  <strong>Team season:</strong>
  <%= @sponsor.team_season_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @sponsor.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @sponsor.description %>
</p>

<p>
  <strong>Url:</strong>
  <%= @sponsor.url %>
</p>

<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
