  <div class="box-body">
    <%= form_for(@document) do |f| %>
      <%= render partial: 'admin_partials/errors/errors_form', locals: { current_object: @document} %>

      <div class="form-group">
        <%= f.label :file %><br>
        <%= f.file_field :file, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :level %><br>
        <%= f.select :level, options_for_select(get_levels_options().prepend(['No level', -1])), {}, class: "form-control" %>
      </div>

      <div class="box-footer">
        <%= f.submit class: "btn btn-primary"  %>
      </div>
    <% end %>
  </div>
</div>
