<%= render partial: 'admin_partials/show/header', locals: { section_title: t("controller."+params[:controller]),
                                                  section_sub_title: t("action."+params[:action]),
                                                  page_title: t("strings.practice.show") } %>

<%= render "admin_partials/errors/notices" %>

          <strong><%= t("activerecord.attributes.practice.team_season") %></strong>
          <p class="text-muted">
            <%= @practice.team_season.team.name + "("+@practice.team_season.id.to_s+")  -  " + @practice.team_season.season.start_year.to_s + "/" + @practice.team_season.season.end_year.to_s %>
          </p>

          <strong><%= t("activerecord.attributes.practice.practice_date") %></strong>
          <p class="text-muted">
            <%= @practice.practice_date.strftime("%m/%d/%Y - %H:%M") %>
          </p>

          <strong><%= t("activerecord.attributes.practice.observations") %></strong>
          <p class="text-muted">
            <%= @practice.observations %>
          </p>
<%= render partial: 'admin_partials/show/footer', locals: {edit_path: edit_practice_path(@practice), back_path: practices_path}%>
