<%= render partial: 'admin_partials/index/header', locals: { section_title: t("controller."+params[:controller]),
                                                  section_sub_title:  t("action."+params[:action]),
                                                  page_title: t("strings.photo.listing"),
                                                  new_path: new_photo_path,
                                                  new_button_name: t("strings.photo.new"),
                                                  search_form_path: photos_path } %>

<%= render "admin_partials/errors/notices" %>


        <div class="box-body table-responsive no-padding">
          <div class="table_div">
          <table class="table table-hover">
            <thead>
              <tr>
                <th><%= t("activerecord.attributes.photo.photo") %></th>
                <th><%= t("activerecord.attributes.photo.title") %></th>
                <th><%= t("activerecord.attributes.photo.description") %></th>
                <th><%= t("activerecord.attributes.photo.approved") %></th>
                <th><%= t("activerecord.attributes.photo.private") %></th>
                <th><%= t("activerecord.attributes.photo.match") %></th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @photos.each do |photo| %>
                <tr>
                  <td>
                    <% if !photo.video %>
                      <%= image_tag photo.photo.url(:thumb) %>
                    <% else %>
                      <%= image_tag youtube_preview(photo.video_url) %>
                    <% end %>
                  </td>
                  <td><%= photo.title %></td>
                  <td><%= photo.description %></td>
                  <td><%= t photo.approved.to_s %></td>
                  <td><%= t photo.private.to_s %></td>
                  <td><%= photo.match_id ? t("strings.photo.match") : photo.team_season_id ? t("strings.photo.team") : t("strings.photo.general")%>
                  <%= render partial: 'admin_partials/index/buttons', locals: { object: photo, edit_path: edit_photo_path(photo, oldaction: params[:action]) } %>
                </tr>
              <% end %>
            </tbody>
          </table>
          </div>
        </div><!-- /.box-body -->

<%= render partial: 'admin_partials/index/footer', locals: { paginate_object: @photos} %>
